<select ng-model="$ctrl.entityType" ng-change="$ctrl.getEntities()">
    <option value='artist'>Artists</option>
    <option value='album'>Albums</option>
    <option value='song'>Songs</option>
</select>

<br>
<br>

<span ng-if="$ctrl.parent"><b>{{$ctrl.parentType.toUpperCase()}}:</b> {{$ctrl.parent[$ctrl.parentType + "Name"]}}</span>

<ul>
    <li ng-repeat="entity in $ctrl.entities | filter:$ctrl.filter">
        <span>{{entity[$ctrl.nameField]}}</span>
        <button ng-click="$ctrl.deleteEntity(entity)">Delete</button>
        <button ng-click="$ctrl.goInto(entity)" ng-if="$ctrl.entityType != 'song'">Go Into</button>
    </li>
</ul>

<div ng-if="$ctrl.showAdd">
    <label for="newEntity"></label>
    Add
    <input type="text" ng-model="$ctrl.newEntityName" id="newEntity">
    <button ng-click="$ctrl.addEntity()" ng-if="$ctrl.newEntityName">Add</button>
</div>